.container {
  display: grid;
  grid-template-columns: 100dvw;
  grid-template-rows: 8dvh 88dvh 4dvh;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

header, footer {
  display: flex;
  align-items: center;

  gap: 1dvw;
  padding: 1dvh 2dvw;

  background-color: var(--mat-fab-small-container-color, var(--mat-sys-primary-container));
  color: var(--mat-fab-small-foreground-color, var(--mat-sys-on-primary-container, inherit));
}

main {
  display: flex;
  margin: 2dvw 0;
  padding: 0 2dvw;

  overflow: scroll;
  scrollbar-gutter: stable;
}

.footer-alignment {
  display: flex;
  justify-content: space-between;
}

.footer-wrap {
  display: flex;
  flex-wrap: wrap;
}

.home-button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  width: fit-content;
  height: fit-content;

  &__image {
    border-radius: 10px;
    cursor: pointer;
  }
}
