.container {
  display: grid;
  grid-template-columns: 100dvw;
  grid-template-rows: 8dvh 88dvh 4dvh;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

header, footer {
  display: flex;
  align-items: center;

  gap: 1dvw;
  padding: 1dvh 2dvw;

  background-color: var(--mat-sys-on-primary-fixed-variant);
  color: var(--mat-sys-secondary-fixed);
}

main {
  display: flex;
  margin: 2dvw 0;
  padding: 0 2dvw;

  overflow: scroll;
}

.footer-alignment {
  display: flex;
  justify-content: space-between;
}

.footer-wrap {
  display: flex;
  flex-wrap: wrap;
}
