:host {
  display: flex;
  flex-direction: column;
  flex: 1;
}

h1 {
  text-align: center;
}

.description {
  padding: 0 20dvw;
  text-align: justify;
}

.disclaimer {
  margin-top: 2rem;
  padding-top: 1rem;
  border-top: 1px solid #e0e0e0;

  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #e0e0e0;

  font-size: 0.85rem;
  line-height: 1.4;
  color: #666;
}
