<mat-card class="card">
  <mat-card-header>
    <mat-card-title>File upload</mat-card-title>
  </mat-card-header>
  <mat-card-content class="card-content card-padding">
    <div class="file-upload">
      <mat-form-field>
        <mat-label>Year</mat-label>
        <mat-select [formControl]="yearsControl" required>
          @for (year of years.keys(); track year) {
            <mat-option [value]="year">{{ year }}</mat-option>
          }
        </mat-select>
        @if (yearsControl.hasError('required')) {
          <mat-error>Please select a year</mat-error>
        }
      </mat-form-field>

      <mat-form-field>
        <mat-label>Day</mat-label>
        <mat-select (selectionChange)="loadImplementation()" [formControl]="daysControl" required>
          @for (day of availableDays; track day) {
            <mat-option [value]="day">{{ day }}</mat-option>
          }
        </mat-select>
        @if (daysControl.hasError('required')) {
          <mat-error>{{ daySelectErrorMessage() }}</mat-error>
        }
      </mat-form-field>
    </div>

    <div class="file-upload">
      <mat-form-field>
        <mat-label>File name</mat-label>
        <input disabled matInput placeholder="File name" value="{{fileName}}">
      </mat-form-field>

      <input #lstLineModel (change)="onFileSelected($event)" class="file-input" hidden type="file"/>

      <div>
        <button (click)="lstLineModel.click()" class="upload-btn" color="primary" mat-mini-fab>
          <mat-icon>upload_file</mat-icon>
        </button>
      </div>
    </div>

    <dl>
      <dd>
        <span>Show</span>
      </dd>
      <dt>
        <div style="display: flex; flex-direction: row">
          <div style="display: flex; flex-direction: column">
            <mat-checkbox [(ngModel)]="filter.showStatus">to low / to high</mat-checkbox>
            <mat-checkbox [(ngModel)]="filter.showDifference">difference</mat-checkbox>
          </div>
          <div style="display: flex; flex-direction: column">
            <mat-checkbox [(ngModel)]="filter.solution">solution</mat-checkbox>
            <mat-checkbox [(ngModel)]="filter.implementation">implementation</mat-checkbox>
          </div>
        </div>
      </dt>
    </dl>
  </mat-card-content>
</mat-card>

<mat-accordion multi>
  <mat-expansion-panel [expanded]="true" [ngClass]="{
  'correct-answer': solutionCheck.part1 === true,
  'incorrect-answer': solutionCheck.part1 === false,
  }" class="card">
    <mat-expansion-panel-header>
      <mat-panel-title class="mat-mdc-card-title solution-header"><span>Part 1</span>
        <span>{{ solutionCheck.part1 | check }}</span></mat-panel-title>
    </mat-expansion-panel-header>

    <div class="card-padding">
      <mat-form-field>
        <mat-label>Your answer</mat-label>
        <input (keyup.enter)="setFilterResults(1)" [(ngModel)]="answerPart1" matInput
               placeholder="Your answer"
               type="number">
      </mat-form-field>

      @if (filter.showStatus) {
        <dl>
          <dd class="dd-solution">Status</dd>
          <dt>{{ status.part1 }}</dt>
        </dl>
      }
      @if (filter.showDifference) {
        <dl>
          <dd class="dd-solution">Difference</dd>
          <dt>{{ difference.part1 }}</dt>
        </dl>
      }
      @if (filter.solution) {
        <dl>
          <dd class="dd-solution">Solution</dd>
          <dt>{{ aocSolution()?.part1 }}</dt>
        </dl>
      }
    </div>

  </mat-expansion-panel>
  <mat-expansion-panel [expanded]="true" [ngClass]="{
  'correct-answer': solutionCheck.part2 === true,
  'incorrect-answer': solutionCheck.part2 === false,
  }" class="card">
    <mat-expansion-panel-header class="mat-mdc-card-header">
      <mat-panel-title class="mat-mdc-card-title solution-header">
        <span>Part 2</span>
        <span>{{ solutionCheck.part2 | check }}</span>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="card-padding">
      <mat-form-field>
        <mat-label>Your answer</mat-label>
        <input (keyup.enter)="setFilterResults(2)" [(ngModel)]="answerPart2" matInput
               placeholder="Your answer"
               type="number">
      </mat-form-field>

      @if (filter.showStatus) {
        <dl>
          <dd class="dd-solution">Status</dd>
          <dt>{{ status.part2 }}</dt>
        </dl>
      }
      @if (filter.showDifference) {
        <dl>
          <dd class="dd-solution">Difference</dd>
          <dt>{{ difference.part2 }}</dt>
        </dl>
      }
      @if (filter.solution) {
        <dl>
          <dd class="dd-solution">Solution</dd>
          <dt>{{ aocSolution()?.part2 }}</dt>
        </dl>
      }
    </div>

  </mat-expansion-panel>
</mat-accordion>

@if (filter.implementation) {
  <mat-accordion>
    <mat-expansion-panel [expanded]="false" class="card">
      <mat-expansion-panel-header class="mat-mdc-card-header">
        <mat-panel-title class="mat-mdc-card-title">Implementation</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="card-padding">
        @if (yearsControl.value !== null && daysControl.value !== null) {
          <span>Link to:
          <a
            href="https://github.com/SteffenBurgert/aoc/tree/main/backend/src/main/kotlin/aoc/backend/service/year/_{{yearsControl.value}}/day{{daysControl.value}}/Day{{daysControl.value}}.kt"
            target="_blank"
            rel="noopener noreferrer">
          AoC_Year_{{ yearsControl.value }}_Day_{{ daysControl.value }}
        </a>
        </span>
          <pre>{{ kotlinImplementation() }}</pre>
        } @else {
          <span>Pleas select a year and day first.</span>
        }
      </div>
    </mat-expansion-panel>
  </mat-accordion>
}
