name: backend

on:
  workflow_call:
    inputs:
      version:
        required: true
        type: string

jobs:
  run-build:
    uses: ./.github/workflows/build-backend.yml
    with:
      version: ${{ inputs.version }}

  publish:
    needs:
     - run-build

    permissions:
      contents: write
      packages: write
      attestations: write
      id-token: write

    uses: ./.github/workflows/publish.yml
    with:
      version: ${{ inputs.version }}
      artifact-name: backend-jar
      artifact-path: backend/build/libs/
      image-name: backend
      docker-context: ./backend
