name: build frontend
on:
  workflow_call:
    inputs:
      version:
        required: true
        type: string

jobs:
  build-frontend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Build frontend
        run: |
          npm ci
          npm run build
        working-directory: ./frontend
      - name: Upload Dist
        uses: actions/upload-artifact@v4
        with:
          name: frontend-dist
          path: ./frontend/dist/
