name: frontend

on:
  workflow_call:
    inputs:
      version:
        required: true
        type: string

jobs:
  run-build:
    uses: ./.github/workflows/build-frontend.yml
    with:
      version: ${{ inputs.version }}

  publish:
    needs:
      - run-build

    permissions:
      contents: write
      packages: write
      attestations: write
      id-token: write

    uses: ./.github/workflows/publish.yml
    with:
      version: ${{ inputs.version }}
      artifact-name: frontend-dist
      artifact-path: frontend/dist/
      image-name: frontend
      docker-context: ./frontend
