name: pipeline
on:
  push:

jobs:
  build-backend:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v5
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
      # Cache Gradle dependencies (including wrapper) and build outputs
      - name: Cache Gradle caches
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
            **/build
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - name: Determine tag
        run: echo "TAG_NAME=${GITHUB_SHA::7}" >> $GITHUB_ENV
      - name: Print tag
        run: echo "Tag is ${TAG_NAME}"
      - name: Build with Gradle
        run: ./gradlew clean build -x test -PprojVersion=${TAG_NAME}
        working-directory: backend

  build-frontend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Determine tag
        run: echo "TAG_NAME=${GITHUB_SHA::7}" >> $GITHUB_ENV
      - name: Print tag
        run: echo "Tag is ${TAG_NAME}"
      - name: Cache npm files
        id: cache-npm
        uses: actions/cache@v4
        env:
          cache-name: cache-npm-files
        with:
          path: |
            ~/.npm
            frontend/node_modules
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-
      - if: ${{ steps.cache-npm.outputs.cache-hit != 'true' }}
        name: List the state of node modules
        continue-on-error: true
        run: npm list
      - name: Install dependencies
        run: npm ci
        working-directory: frontend
      - name: Build
        run: npm run build
        working-directory: frontend
