name: publish

on:
  workflow_call:
    inputs:
      version:
        required: true
        type: string
      artifact-name:
        required: true
        type: string
      artifact-path:
        required: true
        type: string
      image-name:
        required: true
        type: string
      docker-context:
        required: true
        type: string

jobs:
  push-docker:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write

    steps:
      - name: Normalize owner name
        run: |
          echo "ACTOR=$(echo "${{ github.actor }}" | tr '[:upper:]' '[:lower:]')" >> $GITHUB_ENV

      - name: Checkout
        uses: actions/checkout@v5

      - name: Download Artifacts
        uses: actions/download-artifact@v4
        with:
          name: ${{ inputs.artifact-name }}
          path: ${{ inputs.artifact-path }}

      - name: Log in to Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ${{ inputs.docker-context }}
          file: ${{ inputs.docker-context }}/Dockerfile
          push: true
          tags: ghcr.io/${{ env.ACTOR }}/${{ inputs.image-name }}:${{ inputs.version }}

  create-release:
    needs: push-docker
    if: github.ref_name == 'main'
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v5
      - name: Create Git tag & GitHub Release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          
          TAG="${{ inputs.image-name }}-v${{ inputs.version }}"
          
          if git rev-parse "$TAG" >/dev/null 2>&1; then
            echo "Tag already exists"
            exit 0
          fi
          
          git tag "$TAG"
          git push origin "$TAG"
          
          gh release create "$TAG" --generate-notes