name: verify commit
#on: [push, pull_request] enable in new branch

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install Dependencies
        run: npm install @commitlint/cli @commitlint/config-conventional

      - name: Run Commitlint
        run: echo "${{ github.event.pull_request.title }}" | npx commitlint --config commitlint.config.cjs --verbose

      - name: Run Commitlint for Commits
        run: npx commitlint --config commitlint.config.cjs --from origin/main --to HEAD --verbose