name: pipeline
on:
  push:
    branches-ignore:
      - main

jobs:
  build-backend:
    uses: ./.github/workflows/build.yml
    with:
      component: 'backend'
      tag: "temp-tag"

  build-frontend:
    uses: ./.github/workflows/build.yml
    with:
      component: 'frontend'
      tag: "temp-tag"
