name: version

on:
  workflow_call:
    inputs:
      service-name:
        required: true
        type: string
    outputs:
      version:
        description: "Calculated Version"
        value: ${{ jobs.calculate-version.outputs.version }}

jobs:
  calculate-version:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.final.outputs.version }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - id: compute
        run: |
          SERVICE="${{ inputs.service-name }}"
          LATEST_TAG=$(git tag -l "$SERVICE-v[0-9]*" | grep -v "SNAPSHOT" | sort -V | tail -n 1)
          
          if [ -z "$LATEST_TAG" ]; then
            MAJOR=0
            MINOR=0
            PATCH=0
            BASE_COMMIT=$(git rev-list --max-parents=0 HEAD)
            echo "No tag found for $SERVICE, starting at 0.0.0"
          else
            VERSION_PART=$(echo $LATEST_TAG | grep -oE "[0-9]+\.[0-9]+\.[0-9]+")
            MAJOR=$(echo $VERSION_PART | cut -d. -f1)
            MINOR=$(echo $VERSION_PART | cut -d. -f2)
            PATCH=$(echo $VERSION_PART | cut -d. -f3)
            BASE_COMMIT=$LATEST_TAG
            echo "Last version for $SERVICE was $VERSION_PART"
          fi

          MESSAGES=$(git log $BASE_COMMIT..HEAD --format=%s)

          if echo "$MESSAGES" | grep -qE "^[a-zA-Z0-9_-]+(\([a-zA-Z0-9_-]+\))?!:"; then
            MAJOR=$((MAJOR + 1))
            MINOR=0
            PATCH=0
          elif echo "$MESSAGES" | grep -qE "^feat(\(.*\))?:"; then
            MINOR=$((MINOR + 1))
            PATCH=0
          elif echo "$MESSAGES" | grep -qE "^(fix|bug)(\(.*\))?:"; then
            PATCH=$((PATCH + 1))
          else
            echo "No semantic keywords found, incrementing patch version."
            PATCH=$((PATCH + 1))
          fi

          echo "raw_version=$MAJOR.$MINOR.$PATCH" >> $GITHUB_OUTPUT

      - id: final
        run: |
          VERSION="${{ steps.compute.outputs.raw_version }}"
          
          if [ "${{ github.ref_name }}" != "main" ]; then
            VERSION="$VERSION-SNAPSHOT"
          fi

          echo "version=$VERSION" >> $GITHUB_OUTPUT