name: version

on:
  workflow_call:
    inputs:
      service-name:
        required: true
        type: string
    outputs:
      version:
        description: "Calculated Version"
        value: ${{ jobs.calculate-version.outputs.version }}

jobs:
  calculate-version:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.final.outputs.version }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Get Base Version
        id: tag_version
        uses: mathieudutour/github-tag-action@v6.2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          tag_prefix: ${{ inputs.service-name }}-v
          fetch_all_tags: true
          dry_run: true
          append_to_pre_release_tag: ""
          release_branches: main

      - name: Generate Final Version
        id: final
        run: |
          TIMESTAMP=$(date +'%Y%m%d-%H%M')
          
          if [ "${{ github.ref_name }}" == "main" ]; then
            FINAL_VERSION="${{ steps.tag_version.outputs.new_version }}"
          else
            BASE_WITH_BRANCH="${{ steps.tag_version.outputs.new_version }}"
            FINAL_VERSION="${BASE_WITH_BRANCH}-SNAPSHOT-${TIMESTAMP}"
          fi
          
          echo "version=$FINAL_VERSION" >> $GITHUB_OUTPUT
          echo "Final Version: $FINAL_VERSION"