name: version

on:
  workflow_call:
    inputs:
      service-name:
        required: true
        type: string
    outputs:
      version:
        description: "Calculated Version"
        value: ${{ jobs.calculate-version.outputs.version }}

jobs:
  calculate-version:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.tag_version.outputs.new_version }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Get Base Version
        id: tag_version
        uses: mathieudutour/github-tag-action@v6.2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          tag_prefix: ${{ inputs.service-name }}-v
          fetch_all_tags: true
          dry_run: true
          append_to_pre_release_tag: "SNAPSHOT-${{ github.ref_name }}"
          release_branches: main

      - name: Print Version
        run: echo "Calculated version is ${{ steps.tag_version.outputs.new_version }}"